<div class="my-header">
  <button mat-raised-button routerLink="/" class="left">Home</button>This is my
  angular application
  <button mat-raised-button routerLink="/signUp">signUp</button>
  <a
    href="javascript:void(0)"
    style="float: right; margin-right: 20px; color: #fff"
    routerLink="/books"
    >books</a
  >
</div>
