<mat-card style="border-radius: 20px">
  <h3>{{ book.title }}</h3>
  <hr />
  <p>
    <span>{{ book.id }}</span>
    <span style="float: right; margin: 0px 20px">{{ book.userId }}</span>
  </p>
  <p>
    <small>{{ book.body }}</small>
  </p>
  <hr />
  <button mat-raised-button class="btn" (click)="selectBook()">Add book to cart</button>
</mat-card>
