<div style="background-color: lightblue; padding: 20px">
  <p
    style="
      padding: 10px;
      background-color: green;
      color: #fff;
      text-align: center;
    "
    *ngIf="isSignupSuccessful"
  >
    User signed up successfully!!
  </p>
  <mat-card class="home-card">
    <form [formGroup]="signUpForm">
      <mat-form-field class="form-input">
        <mat-label>Email</mat-label>
        <input
          matInput
          formControlName="emailFormControl"
          placeholder="skicon@skicco.com"
          [errorStateMatcher]="matcher"
          tabindex="1"
        />
        <mat-error
          *ngIf="
            signUpForm.controls['emailFormControl'].errors &&
            signUpForm.controls['emailFormControl'].errors['required']
          "
        >
          Email is <strong>required</strong>
        </mat-error>

        <mat-error
          *ngIf="
            signUpForm.controls['emailFormControl'].errors &&
            signUpForm.controls['emailFormControl'].errors['email']
          "
        >
          Please enter a proper email
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-input">
        <mat-label>Password</mat-label>
        <input
          matInput
          formControlName="passwordFormControl"
          [errorStateMatcher]="matcher"
          tabindex="2"
          type="password"
        />
        <mat-error
          *ngIf="
            signUpForm.controls['passwordFormControl'].errors &&
            signUpForm.controls['passwordFormControl'].errors['required']
          "
        >
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <button mat-raised-button class="btn" (click)="signUp()">
        Sign me up
      </button>
    </form>
  </mat-card>
</div>
