<div style="background-color: lightblue; padding: 20px">
  <mat-card class="home-card">
    <p *ngIf="isTitleOn">{{ title }}</p>
    <p *ngFor="let name of names">{{ name }}</p>
    <button mat-raised-button class="btn" (click)="toggleTitle()">
      Toggle title
    </button>
  </mat-card>
</div>
